* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: paleturquoise;
}

header {
  background-color: navy;
  text-align: right;
}

.Logo {
  float: left;
  padding: 10px;
}


header ul li {
  display: inline-block;
  padding: 20px;
}

header a {
  text-decoration: none;
  color: white;
}

/*main styling*/

.container {
  border-radius: 10px;
  max-width: 1600px;
  margin: 0 auto;
  /* add opacity to color. Add a 0.5 to be the last value*/
}

h2 {
  margin-bottom: 30px;
}

#past,
#present,
#future {
  height: 800px;
  width: 100%;
}

#past {
background-image: url("https://source.unsplash.com/featured/?turquoise");
background-repeat: no-repeat;
background-position: center center;
/*background-attachment: fixed;*/
background-size: cover;
padding:20px;
}

.pastContainer {
  background-color: rgb(106, 196, 166, 0.5);
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: teal;
  padding:20px;
}

.floatPic {
  float: left;
  margin-right: 10px;
  border-radius: 8px;
}


#present {
  
  background-color: azure;
  padding: 20px 
}

.presentContainer {
  text-align: left;
  background-color: rgba(135, 206, 235, 0.5);
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: teal;
  padding: 20px;
}

#future {
background-image: url("https://source.unsplash.com/featured/?water");
background-size: cover;
background-repeat: no-repeat;
padding: 20px;
}

.futureContainer {
  background-color: rgba(158, 223, 74, 0.5);
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color:teal;
  padding: 20px;
}

footer {
  background-color: navy;
  padding: 20px;
  text-align: center;
}
